*{
    padding: 0;
    margin: 0;
}
span{
    display: inline-block;
    font-size: 22px;
    margin-bottom: 10px;
}

.musicList{
    width: 500px;
    height: 300px;
    border: 1px solid #cccccc;
    margin: 0 auto;
}
.panel-footer{
    display: inline-block;
    margin-top: 10px;
}